main {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    display: grid;
    place-content: center;
    min-height: 90svh;
    overflow: hidden;
    gap: 2rem;
}

body {
    background: hsl(222, 20%, 95%);
}

.card {
    display: grid;
    place-content: center;
    min-height: 600px;
    min-width: 400px;
    background: linear-gradient(135deg, #fd746c, #ff9068);
    padding: 2rem;
    color: white;
}

input {
    margin-top: 1rem;
    appearance: none;
    color: rgb(41, 47, 61);
    background: hsl(222, 20%, 100%);
    padding: 0.875em;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    outline: 1px solid transparent;
    accent-color: hsl(200, 85%, 60%);
    box-shadow: 0 3px 2px -3px hsl(222, 20%, 85%);
    transition: border 0.3s ease-in, outline 0.6s ease-in,
        box-shadow 0.6s ease-in;
}

input:focus {
    border-color: hsl(160, 85%, 60%);
    outline-color: hsl(200, 85%, 60%);
    transition: border 0.6s ease-out, outline 0.3s ease-out,
        box-shadow 0.3s ease-out;
}